<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Paciente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-input type="text" [(ngModel)]="patient.name" placeholder="Nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="patient.leito" placeholder="Leito"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="Date" [(ngModel)]="patient.nascimento" placeholder="Nascimento"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="patient.convenio" placeholder="Convenio"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="patient.dieta" placeholder="Dieta"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="patient.liberacao" placeholder="Liberação"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="patient.dieta2" placeholder="Segunda Dieta"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="savePatient()" expand="block">
      Salvar paciente
    </ion-button>
  </ion-toolbar>
</ion-footer>
