<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Café da Manhã</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Colação</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Almoço</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Lanche</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Jantar</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Jantar</ion-label>
    <ion-input></ion-input>
  </ion-item>
  

</ion-content>
